.jumbotron {
    background-image: url("/assets/images/BurgerOne.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    height: 400px;
}

.jumbotron {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    background-color:#f67f72;
}

label {
    padding-left: 140px;
    padding-top: 30px;
}

#createburger {
    border-radius: 5px;
}

#color-override {
    color: #fff;
}

#lefthead {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #f0ad4e;
    color: white;
    text-align: center;
    font-size: 1.2em;
}